.documents{
    width: 100%;
    height: 500px;
    margin-bottom: -95px;
    display: flex;
    border: 1px solid rgba(0, 255, 255, 0.225);
}
.document_button{
    height: 500px;
    width: 20%;
    border-right: 1px solid rgba(0, 255, 255, 0.178);
    animation: navianime 0.5s ease-in ;
}

@keyframes navianime{
  from{
  opacity: 0;
  transform: translate(-100%,-0%) scale(1);
  }
  to{
  opacity: 1;
  transform: translate(-0%,-0%) scale(1);
  } 
  } 
  
.document_content{
    height: 500px;
    width: 80%;
}
.div_input{
    height: 30px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;  
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;  
}
#sea{
    padding-left: 20px;
    color: blue;
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    padding-right: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;  
}
.div_button_secondry{
  height: 470px;
  width: 100%;
  background: rgba(0, 255, 255, 0.121);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: 0px;
}  
.div_button_secondry::-webkit-scrollbar {
    width: 3px;               
  }
  
.div_button_secondry::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);        /* color of the tracking area */
  }
.div_button_secondry::-webkit-scrollbar-thumb {
    background-color: rgb(33, 0, 246);    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(22, 11, 235);  /* creates padding around scroll thumb */
  }
.content_link{
  text-decoration:none;
  color: rgb(253, 253, 254);
}

#btn{
 width: 100%; 
 background-color: aliceblue; 
 margin-top: 10px;
  height: 30px; 
  align-items: center; 
  display: flex;
   justify-content: center;
}
.btn2{
  width: 100%; 
  background-color: aliceblue; 
   height: 30px; 
   align-items: center; 
   display: flex;
    justify-content: center;
}
.content_list{
  list-style: none;
}
.hr_btn{
  margin-top: 6px;
   margin-bottom: 6px;
   width: 100%;
   border: 1px solid rgba(0, 255, 255, 0.138);
}
.search-list{
  overflow-x: hidden;
}
#list{
  color: aliceblue;
  font-size: 25px;
  cursor: pointer;
}
.content_close_icon{
  display: none;
  padding: 10px 20px;
  color: aliceblue;
}
.content_close_icon:hover{
  color: rgb(162, 157, 245);
}
#list:hover{
  color:#9E9EFA;
}
.fa-bars-staggered{
  padding: 10px 20px;
}
.responsive_navigation_div_button{
  background-color: rgba(0, 255, 255, 0.107);
  align-items: center; 
  display: none;
} 
@media(max-width:803px){
   .document_button{
    position: absolute;
    width: 290px;
    background-color: rgb(20, 14, 68);
    z-index: 111;
   }
  
   .div_button_secondry{
    width: 290px;
   }
   .document_button{
    display: none;
   }
   .document_content{
    width: 100%;
    border: 1px solid rgba(0, 255, 255, 0.105);
   }
   .responsive_navigation_div_button{
    display: block;

   }

} 
iframe{
  height: 500px;
  width: 100%;
  overflow-x: hidden;
  background-color: rgba(0, 255, 255, 0.123);
}
.content_link:hover{
  text-decoration: underline;
  color: rgb(203, 238, 244);
}