*{
  margin: 0;
  padding: 0;
}
body{
  background: #061A40; 
}
.service{
  margin-top: 60px;
}
.service_div{
  width: 90%;
  height: 500px;
  display: flex;
}
.details{
  width: 65%;
  height: 500px;
  background: #061A40;
  border-right: 2px solid #061A40;
  border-top: 2px solid rgba(240, 248, 255, 0.752);
  border-left: 2px solid rgba(240, 248, 255, 0.752);
  border-bottom: 2px solid rgba(240, 248, 255, 0.752);
  border-radius: 1px;
}
.payment{
  width: 35%;
  height: 500px;
  background:aliceblue;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 2px solid rgba(240, 248, 255, 0.752);
  border-right: 2px solid rgba(240, 248, 255, 0.752);
  border-bottom: 2px solid rgba(240, 248, 255, 0.752);
  border-left: 2px solid rgba(240, 248, 255, 0.752);
}
.details_1{
  height: 50px;
  width: 100%;
  background-color: #061A40;
  color: aliceblue;
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
  border-bottom:2px solid rgba(240, 248, 255, 0.074) ;
}
.details_1 h1{
  align-items: center;
  display: flex;
}

.details_2{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #061A40;
   
}
.details_3{
  font-size: 23px;
  font-style: oblique;
  align-items: center;
  margin-top: 30px;
  color: aliceblue;
  border-top: 2px solid rgba(240, 248, 255, 0.101);
  display: flex;
  justify-content: center;
}
.details_3 h4{
display: flex;
justify-content: center;
padding: 10px;
}
/* .details_img2{
  margin-top: 35%;
  height: 200px;
} */
.detail_img{
  width: 40%;
  height: 250px;
  background-image: url(3.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.details_informastion{
  width: 60%;
  height: 350px;
  background-color: #061A40;
  text-align: center;
  justify-content: center;
  display: grid;
  font-size: 18px;
  margin-top: 20px;
  color: aliceblue;

}
.df{
  width: 100%;
  height: 300px;
  background-color: #061A40;
  text-align: center;
  justify-content: center;
  display: grid;
  font-size: 15px;
  margin-top: 20px;
  color: aliceblue;
padding-right: 20px;
padding-top: 20px;
}
.payment1{
  height: 50px;
  border-top-right-radius: 10px;
  width: 100%;
  background: #c2d3f4;
  color: black;
  text-align: left;
  border-bottom: 2px solid rgba(240, 248, 255, 0.752);
}


.payment1 hr{
  width: 8%;
  margin-top: 13px;
  float: left;
  margin-left: 5px;
  height: 4px;
  background-color: black;
  border: none;
}
.payment2{
  height: 400px;
  width: 100%;
  background: #c2d3f4;
  display: flex;
  justify-content: center;
  gap: 20px;
  color: black;
}
.p1{
  display: grid;
  margin-top: 60px;
  text-align: left;
}
.p2{
  display: grid;
  margin-top: 60px;
  text-align: right;
}
.p1 hr{
  background-color: black;
  height: 3px;
  border: none;
}
.p2 hr{
  background-color: black;
  height: 3px;
  border: none;
}
.payment3{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.pay1{
  height: 50px;
  width: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(pay.png);
}
.payment3 a{
  height: 48px;
  width: 30%;
  background-color: #c2d3f4;
  border-top: 2px solid rgba(240, 248, 255, 0.752);
  border-left: 2px solid rgba(240, 248, 255, 0.752);
  border-bottom-right-radius: 8px;
  text-align: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: black;
}
.pay2{
  display: flex;
  justify-content: center;
}
.payment3 a .pay2 h2{
  text-align: center;
  flex-wrap: wrap;
    display: flex;
    align-content: center;
}

@media screen and (max-width:1000px) {
  .df{
    font-size: 13px;
  }
  .details_1 {
    font-size: 13px;
  }
  .details_3 {
    font-size: 20px;
  }
  .payment1 {
    font-size: 13px;
  }
  .payment2 {
    font-size: 14px;
  }
  .payment3 a .pay2 h2{
    font-size: 16px;
  }
}

@media screen and (max-width:800px) {
  .df{
    font-size: 10px;
  }
  .details_1 {
    font-size: 10px;
  }
  .details_3 {
    font-size: 16px;
  }
  .payment1 {
    font-size: 10px;
  }
  .payment2 {
    font-size: 10px;
  }
  .payment3 a .pay2 h2{
    font-size: 13px;
  }
}

@media screen and (max-width:600px){
  .details_2{
    display: grid;
  }
  .detail_img{
    height: 124px;
    width: 100%;
    margin-top: 20px;
  }
  .details_informastion{
    height: 200px;
width: 100%;
margin-top: 0px;
  }
  .df{
    height: 187px;
    width: 100%;
  }
  .details_1 {
    font-size: 7px;
  }
  .details_3 {
    font-size: 15px;
  }
  .payment2 {
    font-size: 7px;
  }
  .payment3 a .pay2 h2{
    font-size: 10px;
  }
}

@media screen and (max-width:450px){
  .df{
    font-size: 9px;
  }
  .details_1 {
    font-size: 6px;
  }
  .details_3 {
    font-size: 11px;
  }
  .payment1 {
    font-size: 9px;
  }
  .payment2 {
    font-size: 5px;
  }
  .payment3 a .pay2 h2{
    font-size: 12px;
  }
}

@media screen and (max-width:350px){
  .df{
    font-size: 7px;
  }
  .details_1 {
    font-size: 5px;
  }
  .details_3 {
    font-size: 10px;
  }
  .payment1 {
    font-size: 9px;
  }
  .payment2 {
    font-size: 4px;
  }
  .payment3 a .pay2 h2{
    font-size: 10px;
  }
}